# Rename this file to ".env" or "*.env" if you like

# REQUIRE can include other .env files (both in string or list format)
# e.g. REQUIRE=base.env
# e.g. REQUIRE=['base.env', 'online.env']
REQUIRE=

# LOG_LEVEL: The depth you want to log information using logging module
# Uncomment the following for your case (Recommand using INFO or DEBUG):
#LOG_LEVEL=CRITICAL
#LOG_LEVEL=ERROR
LOG_LEVEL=WARNING
# LOG_LEVEL=INFO
# LOG_LEVEL=DEBUG
#LOG_LEVEL=NOTSET

# INPUT_SCRIPTS: Using colon to seperate different entry scripts
INPUT_SCRIPTS=ml_play.py

SAVE_GAME_RESULT=true
GAME_RESULT_DIR=result
GAME_RESULT_FILENAME=game_result.json

RECORD_VIDEO=true
VIDEO_FILENAME=video.mp4
VIDEO_WIDTH=960
VIDEO_HEIGHT=540
VIDEO_FULLSCREEN=false

GAME_NAME=kart3d
IS_PICKUP=true
PICKUP_MAP=100
1P_NAME=kart
EARLY_STOP=false